{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "klustre-csi-plugin.serviceAccountName" . }}
  namespace: {{ include "klustre-csi-plugin.namespace" . | quote }}
  labels:
    {{- include "klustre-csi-plugin.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
